body{
    background-color: #003344;
}

.contenedor {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 15px;
}


.container-Fav{
    background-color: #440004;
}

.container-PV{
    background-color: #f09800;
}

.container-YV{
    background-color: #1a6a20;
}

.UnaLinea{
    display: flex; 
    align-items: center;
}

.Nombre_Grande{
    color: white;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagen-1{
    text-decoration: none; 
    color: inherit;
}

.imagen-2{
    margin-right: 10px; 
    border-radius: 10px;
}

.todoBlanco{
    color:white;
}

.filtro{
    width: 175px;
    height: 35px;
}

.space{
    padding-bottom: 15px;
}