body,
html {
    background: #003344;
}

#boton-busqueda{
    background-color: #5d060c;
    color: white;
    height: 34px;
    border: revert;
}

#filtros{
    background-color: #003344 !important;
}