  .header-color {
    background-color: var(--header-color); 
    color: var(--text-color); 
  }
  
  .header-color .nav-link {
    color: var(--text-color); 
  }

  .footer-color {
    background-color: var(--header-color); 
    color: var(--text-color); 
  }
  
  .footer-color .navbar-text{
    color: var(--text-color);
  }